
body {
            font-family: Arial, sans-serif;
            margin: 20 px;
            background-color: yellow;
        }
        h1 {
            color: green;
        }
		h2 {
            color: red;
        }
		h3 {
            color: blue;
        }
		p {
            color: purple;
        }
        a {
            color: purple;
            text-decoration: none;
        }
		ul {
            color: blue;
        }
        a: hover {
            text-decoration: underline;
        }


